/*Mood dark*/

@media(prefers-color-scheme: dark) {
    :root {
        --text-color-dark: #f5f5f5;
        --bg-body-color-dark: #000;
        --nav-border-right: #ffffff42;
        --border-img: rgba(36, 36, 36, 36);
        --bg-color-hover: #1a1919;
    }
}

body{
    background-color: var(--bg-body-color-dark);
    color: var( --text-color-dark);
}

/*Mood light*/

/* @media(prefers-color-scheme: ligth){
    :root{
        --text-color:#000000;
        --bg-body-color:#f5f5f5;
        --nav-border-right: rgba(201, 197, 197);
        --border-img: #dbdbdb;
        --bg-color-hover:aquamarine;
    }
}

body{
    background-color: var(--bg-body-color);
    color: var(--text-color);
} */